:root {
  --red-color: rgb(255, 0, 0);
  --black-color: rgb(34, 34, 34);
  --white-color: rgb(255, 255, 255);
  --gray-color: rgb(176, 177, 180);
  --blue-color: rgb(119, 167, 229);
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

button,
button:focus {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

body {
  padding: 0px;
  margin: 0px;
}

.cloneyoutube {
  width: 100%;
}

/* 상단바 */
.header {
  display: flex;
  font-size: 25px;
  background-color: var(--black-color);
  padding: 10px 10px;
}

.header_icon {
  color: var(--red-color);
  flex-grow: 80;
  position: relative;
  top: 1px;
}

.header_icon span {
  color: var(--white-color);
}

.fa-search {
  flex-grow: 3;
  color: var(--gray-color);
}

.fa-ellipsis-v {
  flex-grow: 3;
  color: var(--gray-color);
}

/* 메인 비디오 */
main {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}

.video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
}

/* videotitle 해쉬태그,동영상 제목, 조회수 */
.videotitle {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}

.info .videotitle .videoTitleAndButton {
  display: flex;
}

.info .videotitle .videotitle__main {
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info__icon {
  font-size: 20px;
  height: 100%;
}

.info__icon:hover {
  cursor: pointer;
}

.info {
  border-top: 1px solid rgb(176, 177, 180);
}

.info .videotitle .hashtag {
  color: var(--blue-color);
}

.info .videotitle .activeIcon {
  display: inline-block;
}

.info .videotitle .rotationIcon {
  transform: rotate(180deg);
}

.info .videotitle .viewer {
  color: var(--gray-color);
}

/* 좋아요 싫어요 등 아이콘 관련 */
.icons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(176, 177, 180);
  padding: 30px;
}

.icons i {
  color: var(--gray-color);
}

.icons i:hover {
  cursor: pointer;
}

.icons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  border: none;
  background-color: var(--white-color);
}

.icons button span {
  font-size: 15px;
  color: var(--gray-color);
}

/* 사용자 프로필사진, 닉네임, 구독자수 */

.subscribe {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid var(--gray-color);
}

.subscribe .user .userinfo .subscriber {
  color: var(--gray-color);
  font-size: 12px;
}

.subscribe .user {
  display: flex;
}

.subscribe .user .userimg {
  padding-right: 10px;
}

.subscribe .user__icon {
  padding-top: 10px;
}

.subscribe .user .userinfo {
  display: flex;
  flex-direction: column;
}

.subscribe .user .userimg {
  text-align: center;
  padding-top: 5px;
}

.subscribe .user .userimg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.subscribe .user__icon button i {
  color: var(--red-color);
  font-size: 15px;
}
/* 댓글 */
.comment {
  border-bottom: 1px solid rgb(176, 177, 180);
  padding-left: 20px;
}

.comment .commentAndBtn {
  display: flex;
  justify-content: space-between;
}

.comment_icon {
  font-size: 20px;
  height: 100%;
}

/* 다음동영상 */
.nextvideo__text {
  padding: 5px;
  font-size: 15px;
}

.nextvideo {
  display: flex;
  flex-direction: column;
}

.video__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.video_1 {
  display: flex;
}

.video_1 .nextcontent {
  flex-grow: 35;
  padding-left: 5px;
}

.video_1 video {
  flex-grow: 1;
  width: 30vw;
  max-width: 150px;
}

.video_1 .video_info {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 2;
  overflow: hidden;
  flex-grow: 65;
  padding-left: 5px;
}

@media screen and (min-width: 769px) {
  main {
    position: relative;
  }

  .media768px {
    display: flex;
  }

  /* 하단부 */
  .info {
    width: 60%;
  }

  .nextvideo {
    width: 40%;
    flex-shrink: 0;
    border-left: 1px solid var(--gray-color);
  }

  /* 재생목록  */
  .nextvideo .nextvideo__text {
    text-align: center;
  }

  .nextvideo .video__item .video_1 {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
  }

  .nextvideo .video__item .video_1 .video_info {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    height: 80px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    flex-grow: 65;
  }

  .nextvideo .video__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
